.Game-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Game-victory {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
}

.Game-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 30vh;
  background-color: var(--lightpink);
  border-radius: 1em;
  box-shadow: 0 0.4em var(--darkpink);
  z-index: 50;
}

.Game-ui {
  position: absolute;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 3vw;
  color: white;
  text-transform: uppercase;
}

.Game-ui:nth-child(2) {
  right: 10vw;
  top: 12vh;
}

.Game-ui:nth-child(3) {
  right: 10vw;
  top: 20vh;
}
