.gold {
  background-color: darkgoldenrod;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}

.Profile-container {
  display: flex;
}

.Profile-left-container {
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;
}

.Profile-right-container {
  display: flex;
  flex: 1.375;
  height: 100vh;
  justify-content: center;
}

.Profile-navbar {
  flex: 0.125;
  height: 100vh;
}

.Profile-panel {
  display: flex;
  flex-direction: column;
  background-color: var(--lightpink);
  justify-content: center;
  align-self: center;
  width: 90%;
  height: 85%;
  border-radius: 1vw;
  box-shadow: 0 0.7vw var(--darkpink);
  transition: 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Profile-panel.Profile-left {
  margin-left: 2.5vw;
}

.Profile-panel:hover {
  transform: scale(1.02);
}

.Profile-subpanel {
  display: grid;
  place-items: center;
}

.Profile-name {
  font-weight: bolder;
  font-size: 2.7vw;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: var(--cyan);
  padding: 1.2vw 6vw 1.2vw;
  border-radius: 0.3em;
  margin: 2vw 1vw -2vw;
  box-shadow: 0 0.4vw var(--paleblue);
}

.Profile-picture {
  border-radius: 50%;
  height: 25vw;
  width: 25vw;
  border: 0.5em solid var(--cyan);
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.5vw var(--paleblue);
}

.Profile-test {
  animation-fill-mode: forwards;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-name: flipin;
}

.Profile-li {
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 2vw;
  line-height: 2em;
  color: white;
  list-style: none;
  text-transform: uppercase;
  transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Profile-li:nth-child(1) {
  font-size: 4vw;
}

.Profile-li:nth-child(2):hover {
  font-size: 4vw;
  color: var(--black);
  font-weight: 700;
}

.Profile-li:nth-child(3):hover {
  font-size: 4vw;
  color: var(--black);
  font-weight: 700;
}

@keyframes flipin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes flipout {
  from {
    transform: rotateX(180deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

@keyframes hover {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

@keyframes unhover {
  from {
    transform: scale(1.05);
  }

  to {
    transform: scale(1);
  }
}
