/* Fill me in :) */
.skeleton-lightpink {
  color: var(--lightpink);
}

.skeleton-darkpink {
  color: var(--darkpink);
}

.skeleton-container {
  display: flex;
}

.skeleton-title {
  top: 30px;
  text-shadow: 0 8px var(--darkpink), 0 16px black;
  text-align: center;
  font-size: 60px;
  letter-spacing: 0.2em;
  transition: 0.3s ease-in;
  color: var(--lightpink);
}

.skeleton-title:hover {
  color: var(--darkerpalepink);
  text-shadow: 0 10px var(--palepink), 0 18px black;
  transform: scale(1.05);
}

.skeleton-google {
  margin: auto;
  text-align: center;
  justify-content: center;
  bottom: 0;
}

.skeleton-button {
  padding: 0;
  width: 120px;
  height: 60px;
  font-size: 35px;
}

.skeleton-button-shell {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.relative {
  position: relative;
}

.topright {
  position: absolute;
  top: 40px;
  right: 40px;
}
