/* Fill me in :) */
.skeleton-lightpink {
  color: var(--lightpink);
}

.skeleton-darkpink {
  color: var(--darkpink);
}

.skeleton-title-over {
  top: 60px;
  text-align: center;
  font-size: 60px;
  z-index: 2;
}

.skeleton-title-under {
  text-align: center;
  font-size: 60px;
  bottom: 155px;
  right: 10px;
}

.skeleton-google {
  margin: auto;
  text-align: center;
  justify-content: center;
  bottom: 200px;
}

.skeleton-button {
  width: 120px;
  height: 60px;
  font-size: 35px;
}

.relative {
  position: relative;
}
