.gold {
  background-color: gold;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.Start-container {
  display: flex;
}

.Start-left-container {
  flex: 1;
  height: 100vh;
}

.Start-right-container {
  display: flex;
  flex: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Start-navbar {
  flex: 0.222;
  height: 100vh;
}

.Start-textbox {
  text-align: center;
  width: 80%;
  height: 4em;
  margin-bottom: 3em;
  border-radius: 0.5em;
  border-style: none;
  box-sizing: border-box;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.Start-button {
  background: var(--lightpink);
  color: var(--white);
  text-decoration: none;
  box-shadow: 0 0.4em var(--darkpink);
  padding: 1.5em 4em 0em;
}
