.gold {
  background-color: gold;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.Start-container {
  display: flex;
}

.Start-left-container {
  flex: 1;
  height: 100vh;
}

.Start-right-container {
  display: flex;
  flex: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Start-navbar {
  flex: 0.222;
  height: 100vh;
}

.Start-textbox {
  text-align: center;
  width: 80%;
  height: 4em;
  margin-bottom: 3em;
  border-radius: 0.5em;
  border-style: none;
  box-sizing: border-box;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.Start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: white;
  background-color: var(--lightpink);
  padding: 1.2em 0 1.2em;
  border-radius: 0.5em;
  box-shadow: 0 0.4em var(--darkpink), 0 0.8em black;
  transition: 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-sizing: border-box;
  border-style: none;
  text-transform: uppercase;
}

.Start-button:hover {
  box-shadow: 0 0.4em var(--palepink), 0 0.8em white, inset 50em 0 var(--darkerpalepink);
  color: black;
  transform: scale(1.05);
}
