.gold {
  background-color: darkgoldenrod;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}

.Tutorial-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tutorial-subcontainer {
  display: flex;
  height: 80vh;
  background-color: var(--lightpink);
  border-radius: 1vw;
  box-shadow: 0 1.2vh var(--darkpink);
  transition: 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-left: 4.5vw;
}

.Tutorial-subcontainer:nth-child(1) {
  flex: 1.2;
  margin-right: 4.5vw;
}

.Tutorial-navbar {
  flex-basis: 5vw;
  height: 100vh;
}

.Tutorial-li {
  text-align: left;
  justify-items: center;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.2vw;
  font-size: 2vw;
  line-height: 8vw;
  margin-left: 0.8vw;
  color: white;
  list-style: none;
  text-transform: uppercase;
}

.Tutorial-li:nth-child(1) {
  font-size: 4vw;
}

.Tutorial-image {
  position: absolute;
  width: 10vw;
  transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Tutorial-image:nth-child(2) {
  left: 40vw;
  top: 15vw;
  filter: invert(1);
  transform: rotate(10deg);
}

.Tutorial-image:nth-child(3) {
  left: 52vw;
  top: 20vw;
  transform: rotate(-20deg);
}

.Tutorial-image:nth-child(4) {
  left: 80vw;
  top: 26vw;
  transform: rotate(15deg);
}

.Tutorial-image:nth-child(5) {
  left: 43vw;
  top: 36vw;
  transform: rotate(-50deg);
}

.Tutorial-image:hover {
  transform: scale(1.1);
}
