.NavBar-slider {
  position: fixed;
  height: 20%;
  left: 0;
  right: 0;
  transform: translateY(-75%);
  background-color: var(--neongreen);
  box-shadow: 0em 1em var(--paleblue), 0em 2em black;
  transition: 0.5s ease-out;
}

.NavBar-slider:hover {
  transform: translateY(0%);
}
