.red {
  background-color: red;
}

.green {
  background-color: green;
}

.NavBar-container {
  display: absolute;
  flex-direction: column;
  height: 100vh;
  width: 25vw;
  background-color: blueviolet;
  float: right;
  transform: translateX(80%);
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 89;
  margin-left: -25vw;
}

.NavBar-container:hover {
  transform: translateX(0%);
}

.NavBar-subcontainer {
  height: 4em;
}

.NavBar-button {
  position: absolute;
  top: 6em;
  left: 50%;
  transform: translate(-50%, -50%);
}
