.red {
  background-color: red;
}

.green {
  background-color: green;
}

.NavBar-container {
  position: absolute;
  right: 0;
  top: 0;
  flex-direction: column;
  height: 100vh;
  width: 25vw;
  background-color: var(--lightpink);
  float: right;
  transform: translateX(80%);
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 89;
  margin-left: -25vw;
  border-radius: 4% 0 0 4%;
  box-shadow: -0.6vw 0 var(--darkpink);
}

.NavBar-container:hover {
  transform: translateX(0%);
}

.NavBar-subcontainer {
  height: 4em;
}

.NavBar-button {
  position: absolute;
  left: 60%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 0.2vw;
  color: white;
  background-color: var(--cyan);
  padding: 1vw 3vw 1vw;
  width: 10vw;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1vw;
  top: calc((var(--n) - 1) * 5vw + 4vw);
  box-shadow: 0 0.2em var(--paleblue);
  transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 1.2vw;
}

.NavBar-button:nth-child(1) {
  --n: 1;
}

.NavBar-button:nth-child(2) {
  --n: 2;
}

.NavBar-button:hover {
  box-shadow: 0 0.2em var(--paleblue), inset 20em 0em var(--neongreen);
  color: black;
}
