.NavBar-slider {
  position: fixed;
  height: 20%;
  left: 0;
  right: 0;
  background-color: var(--neongreen);
  box-shadow: 0em 1em var(--paleblue), 0em 2em black;
  animation-name: slideUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.NavBar-slider:hover {
  animation-name: slideDown;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-75%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-75%);
  }
}
